<li class="channellistitem">
  <a class="channellink" href="/channels/<%- channel.channel_url %>">
    <img src="<%= channel.image_src %>" alt="" class="previewimage" />
    <h1 class="name"><%= channel.name %></h1>
  </a>
</li>
