<link rel="stylesheet" href="/css/header.css" />

<header class="header">
    <button class="nav__btn" id="btnNav" type="button">
        <div class="menu-icon">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </div>
    </button>
    
    <div class="search">
        <input type="text" class="search__bar" />
        <button class="search__btn"></button>
    </div>
</header>
    
<nav class="nav">
    <div class="nav__links">
        <p class="nav__title">Menü</p>
        <a href="#" class="nav__link">Home</a>
        <a href="#" class="nav__link">Categories</a>
        <a href="#" class="nav__link">Stars</a>
        <a href="#" class="nav__link">Videos</a>
        <a href="#" class="nav__link">Pictures</a>
    </div>
    <div class="nav__overlay"></div>
</nav>

<script>
    //Navbar
    document.addEventListener("DOMContentLoaded", () => {
        const nav = document.querySelector(".nav");
        
        document.querySelector("#btnNav").addEventListener("click", () => {
            nav.classList.add("nav--open");
        })

        document.querySelector(".nav__overlay").addEventListener("click", () => {
            nav.classList.remove("nav--open");
        })
    });
</script>