.preview {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 65vw;
  height: 65vh;
  border: none;
}

.leftside {
  display: block;
  width: 30vw;
}
/*# sourceMappingURL=channel_edit.css.map */