@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
:root {
  --clr-primary: rgb(209, 209, 209);
  --clr-secondary: rgb(94, 94, 94);
  --header-height: 7vh;
  --content-height: 4vh;
  --border-size: .25vh;
}

.header {
  --header-height: 100px;
  --content-height: 60px;
  --border-size: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  background-color: var(--clr-secondary);
}

.nav__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--clr-primary);
  width: var(--header-height);
  height: var(--header-height);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-icon {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: var(--content-height);
  height: var(--content-height);
  cursor: pointer;
}

.menu-icon > span {
  width: var(--content-height);
  height: calc(var(--content-height) / 3.5);
  background: var(--clr-primary);
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__btn #icon {
  height: var(--content-height);
  width: var(--content-height);
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 110vh;
  width: clamp(250px, 55%, 530px);
  background-color: var(--clr-secondary);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.nav--open .nav__links {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--fw-black);
  font-size: 3rem;
  text-decoration: none;
  color: var(--clr-primary);
  padding: 30px 30px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--fw-bold);
  font-size: 2rem;
  text-decoration: none;
  color: var(--clr-primary);
  padding: 30px 30px;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: clamp(1px, 8vw, 1000px);
}

.search__bar {
  background: var(--clr-secondary);
  outline: none;
  border: var(--border-size) solid var(--clr-primary);
  height: var(--content-height);
  width: clamp(250px, 55vw, 550px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search__btn {
  left: 0;
  background: var(--clr-primary);
  outline: none;
  border: var(--border-size) solid var(--clr-primary);
  height: var(--content-height);
  width: var(--content-height);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 0px 6px 6px 0px;
  font-size: 35px;
  color: var(--clr-secondary);
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}
/*# sourceMappingURL=header.css.map */