*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  display: block;
}

.channellist {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.channellistitem {
  display: block;
  width: 15vw;
  margin: 2vh;
}

.channellink {
  text-decoration: none;
}

.name {
  position: relative;
  color: black;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 5vh;
}

.previewimage {
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  object-fit: scale-down;
}

@media (max-width: 800px), (orientation: portrait) {
  .channellist {
    grid-template-columns: repeat(3, 1fr);
  }

  .channellistitem {
    width: 25vw;
  }

  .name {
    line-height: 2vh;
  }
}
