@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root{
    --clr-primary: rgb(209, 209, 209);
    --clr-secondary: rgb(94, 94, 94);
    
    --header-height: 7vh;
    --content-height: 4vh;
    --border-size: .25vh;
}