@import "variables";

.header{
    --header-height: 100px;
    --content-height: 60px;
    --border-size: 4px;

    display: flex;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: var(--header-height);
    background-color: var(--clr-secondary);
}

.nav__btn{
    flex-shrink: 0;
    color: var(--clr-primary);
    width: var(--header-height);
    height: var(--header-height);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    // Hamburger Menu
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    display: grid;
    align-content: space-between;
    width: var(--content-height);
    height: var(--content-height);
    cursor: pointer;

    & > span {
        width: var(--content-height);
        height: calc(var(--content-height) / 3.5);
        background: var(--clr-primary);
        display: block;
        transition: all 0.3s ease-in-out;
      }
  }
  

.nav__btn #icon{
    height: var(--content-height);
    width: var(--content-height);
}

.nav__links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 110vh;
    width: clamp(250px, 55%, 530px);
    background-color: var(--clr-secondary);

    transform: translateX(-100%);

    transition: transform 0.3s ease-out;
}

.nav--open .nav__links{
    transform: translateX(0%);
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.2);
}

.nav__title{
    display: flex;
    align-items: center;
    font-weight: var(--fw-black);
    font-size: 3rem;
    text-decoration: none;
    color: var(--clr-primary);
    padding: 30px 30px;
}

.nav__link{
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    font-size: 2rem;
    text-decoration: none;
    color: var(--clr-primary);
    padding: 30px 30px;
}

.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.nav--open .nav__overlay{
    visibility: visible;
    opacity: 1;
}

.search{
    display: flex;
    margin-right: clamp(1px, 8vw, 1000px);
}

.search__bar{
    background: var(--clr-secondary);
    outline: none;
    border: var(--border-size) solid var(--clr-primary);
    height: var(--content-height);
    width: clamp(250px, 55vw, 550px);
    align-self: center;
}

.search__btn{
    left: 0;
    background: var(--clr-primary);
    outline: none;
    border: var(--border-size) solid var(--clr-primary);
    height: var(--content-height);
    width: var(--content-height);
    align-self: center;
    border-radius: 0px 6px 6px 0px;
    font-size: 35px;
    color: var(--clr-secondary);
    transform: translateX(-1px);
}

