.section1 {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: var(--clr-background);
  margin: 0;
  z-index: -10;
  overflow: hidden;
}

.leftside {
  margin: Clamp(3vh, 10vh, 10vw) 0 0 Clamp(3vh, 10vh, 10vw);
}

.name {
  display: inline-block;
  font-weight: var(--fw-black);
  font-size: Clamp(5vh, 10vh, 5vw);
  word-spacing: 100vw;
  line-height: Clamp(4.5vh, 9vh, 5vw);
  text-transform: uppercase;
  color: var(--clr-primary);
}

.occupation {
  display: inline-block;
  font-weight: var(--fw-regular);
  font-size: Clamp(2vh, 4vh, 5vw);
  margin-top: Clamp(1.5vh, 2vh, 5vw);
  color: var(--clr-accent);
  letter-spacing: 0.5vh;
}

.rightside {
  position: absolute;
  margin-left: 50vw;
  height: 100vh;
  width: 50vw;
}

.shadow {
  height: 300%;
  width: 200%;
  margin-right: -100%;
  margin-top: -100%;
  margin-bottom: -100%;
  box-shadow: inset 100px 0px 100px var(--clr-background);
  overflow: hidden;
}

.position {
  position: relative;
  display: flex;
  height: 100vh;
  width: 50vw;
  margin-top: 50%;
}

.img {
  position: relative;
  min-width: 100%;

  scale: Clamp(0.1, 1, 10);
  object-fit: cover;
  object-position: left var(--img-align);

  z-index: -1;
}

.tags {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  margin-bottom: Clamp(3vh, 10vh, 10vw);
  width: 40vw;
}

.tag {
  font-weight: var(--fw-black);
  font-size: 3vh;
  background-color: var(--clr-accent);
  color: var(--clr-minor);
  line-height: 3vh;
  padding: 1.3vh;
  border-radius: 9px;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
}

@media (max-width: 800px), (orientation: portrait) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .leftside {
    flex-grow: 0;
  }

  .rightside {
    position: relative;
    flex-grow: 1;
    width: 100vw;
    height: Clamp(50vh, 60vh, 70vh);
    margin: 3vh 0 0 0;
  }

  .shadow {
    width: 300%;
    height: 100%;
    margin: 0 -100%;
    //box-shadow: inset 0px 0px 100px var(--clr-background);
  }

  .position {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    margin-top: 0;
    margin-left: 100vw;
  }

  .img {
    position: relative;
    display: block;

    scale: Clamp(0.1, 1, 10);
    margin: 0;

    object-position: var(--img-align);

    z-index: -1;
  }

  .tags {
    display: none;
  }
}
