@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --clr-background: #a09c96;
  --clr-primary: #333230;
  --clr-secondary: #666360;
  --clr-accent: #f3157f;
  --clr-minor: #ffffff;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-rank: 60px;

  --img-align: top;
}
