<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/channel_edit.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="leftside">
      <label for="name">Name:</label><br>
      <input type="text" class="nameInput" name="name"><br>

      <label for="occupation">Occupation:</label><br>
      <input type="text" class="occupationInput" name="occupation"><br>
      
      <label for="tags">Tags:</label><br>
      <input type="text" class="tagsInput" name="tags"><br>

      <label for="profilepicture">Select a profile picture:</label>
      <input type="file" class="pictureInput" name="profilepicture">

      <img
      src=""
      alt=""
      class="img"
      crossorigin="anonymous"
      style="display: none"
    />

    <label for="colors">Select a color:</label>
    <div class="colorbuttons" name="colors"></div>
    <label for="colors">Background color:</label>
    <input type="button" class="background" value="X"><br>
    <label for="colors">Accent color::</label>
    <input type="button" class="accent" value="X"><br>
    <label for="minorselector">Minor color:</label>
    <form name="minorselector">
      <input type="radio" id="white" name="minorcolor" value="white" checked="true">
      <label for="white">White</label>
      <input type="radio" id="black" name="minorcolor" value="black">
      <label for="black">Black</label>
    </form>

  </div>
    

    <iframe
      src="/channels/<%= channel.urls[0] %>" class="preview"></iframe>
    </iframe>

    <script>var channelString = '<%- JSON.stringify(channel) %>';</script>
    <script src="/js/channel_edit.js"></script>
  </body>
</html>
