<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/channel.css" />
    <title><%= channel.name %></title>
  </head>
  <body>
    <div class="section1">
      <div class="leftside">
        <h1 class="name"><%= channel.name %></h1>
        <h3 class="occupation"><%= channel.occupation %></h3>

        <div class="tags">
          <% channel.tags.forEach(function(tag) { %>
          <div class="tag"><%= tag.tag_name %></div>
          <% }); %>
        </div>
      </div>
      <div class="rightside">
        <div class="shadow">
          <div class="position">
            <img class="img" src="<%= channel.image_src %>" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="section2"></div>
    <script>
      // Colors
      document.documentElement.style.setProperty(
        "--clr-background",
        "<%- channel.profile_colors.clr_background %>"
      );
      document.documentElement.style.setProperty(
        "--clr-primary",
        "<%- channel.profile_colors.clr_primary %>"
      );
      document.documentElement.style.setProperty(
        "--clr-secondary",
        "<%- channel.profile_colors.clr_secondary %>"
      );
      document.documentElement.style.setProperty(
        "--clr-accent",
        "<%- channel.profile_colors.clr_accent %>"
      );
      document.documentElement.style.setProperty(
        "--clr-minor",
        "<%- channel.profile_colors.clr_minor %>"
      );

      // Image Data

      document.documentElement.style.setProperty(
        "--img-align",
        "<%- channel.profile_colors.img_align %>"
      );
    </script>
  </body>
</html>
