<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/channel_preview.css" />
    <title>Channels</title>
  </head>
  <body>
    <ul class="channellist">
      <% channels.forEach(function(channel){ %> <%-
      include('../partials/channel_preview', {channel: channel}); %> <% });%>
    </ul>
  </body>
</html>
