<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/channel_preview.css" />
    <title>Pictures</title>
  </head>
  <body>
    <ul class="channellist">
      <% pictures.forEach(function(picture){ %>
      <img
        src="<%= picture.image_src %>"
        alt=""
        class="previewimage"
        crossorigin="anonymous"
      />
      <% });%>
    </ul>
  </body>
</html>
